@(userForm: Form[SignupData])(implicit flash: play.api.mvc.Flash, messages: Messages)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) } 

@templates.main(None) {
    <div class="row">
	<div class="col-lg-8 col-md-offset-2">
	<div class="panel panel-default">
     <div class="panel-heading">Add a user</div>
     <div class="panel-body">
    @form(routes.UserController.save(),'class -> "form-horizontal") {
       
            @inputText(userForm("email"), '_label -> "Email", '_help -> "", 'class -> "form-control")
            @inputText(userForm("password"), '_label -> "Password", '_help -> "", 'class -> "form-control")
            @inputText(userForm("passwordRepeat"), '_label -> "Repeat Password", '_help -> "", 'class -> "form-control")
            @inputText(userForm("firstname"), '_label -> "First Name", '_help -> "", 'class -> "form-control")
            @inputText(userForm("lastname"), '_label -> "Last Name", '_help -> "", 'class -> "form-control")
            

        <div class="actions top-buffer">
            <input type="submit" value="Create this user" class="btn btn-primary">  
            <a href="@routes.UserController.list()" class="btn btn-default">Cancel</a> 
        </div>
         </div>
          </div> 
          </div>  
        </div>   
        
    }
    
}
